@mixin flex-layout($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn-style($bg: $main-color, $font: $font-small) {
  background-color: $bg;
  border-radius: 3px;
  color: $text-color;
  font-size: $font;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@mixin floation-label {
  position: relative;
  cursor: text;
  input {
    width: 97%;
    padding: 25px 15px 10px;
    padding-right: 0;
    background-color: transparent;
    border: 1px solid #777;
    border-radius: 5px;
    color: $text-color;
  }
  input:focus + span,
  input:valid + span {
    top: -7px;
    font-size: 10px;
  }
  span {
    position: absolute;
    left: 10px;
    top: -2px;
    color: #888;
    font-weight: 500;
    transition: all 0.3s;
  }
}

@mixin tablet{
  @media screen and (max-width: $medium-size) {
    @content;
  }
}

@mixin mobile{
  @media screen and (max-width: $small-size) {
    @content;
  }
}